vendor/*
node_modules
public/storage
Homestead.yaml
Homestead.json
.env
config/data base.php
.idea
storage/*
bootstrap/cache/*
bower_components
images
.htaccess
index.php
robots.txt
web.config
config/database.php
database/todsDB3.sql


